.masuk {
  size: 100;
  position: relative;
  left: 30px;
}

.hurup{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

html,body,head{
    overflow-x: hidden;
    overflow-y: hidden;
    }

.mediaViewInfo {
	--web-view-name: Forgot Password;
	--web-view-id: Forgot_Password;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Forgot_Password;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Forgot_Password {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Forgot Password;
	--web-view-id: Forgot_Password;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_31 {
	fill: rgba(255,216,96,1);
	stroke: rgba(255,255,255,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 940px;
	height: 643px;
	left: 487px;
	top: -20px;
}
#Rectangle_42 {
	fill: rgba(255,240,168,1);
	stroke: rgba(255,255,255,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 953px;
	height: 651px;
	left: 481px;
	top: 454px;
}
#Rectangle_12 {
	fill: rgba(255,240,168,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 660px;
	height: 705px;
	left: 638px;
	top: 261px;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 503px;
	height: 87px;
	left: 714px;
	top: 433px;
}
#Forgot_Password_r {
	left: 846px;
	top: 294px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: left;
	font-family: Leelawadee UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Recovery_Email {
	left: 712px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_13 {
	position: absolute;
	width: 104px;
	height: 51px;
	left: 914px;
	top: 548px;
	overflow: visible;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Menu_fix.html;
	cursor: pointer;
}
#Group_7 {
	position: absolute;
	width: 104px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(32,87,116,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Submit {
	left: 22px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#back {
	filter: drop-shadow(0px 3px 6px rgba(48, 47, 45, 0.91));
	position: absolute;
	width: 73px;
	height: 61px;
	left: 65px;
	top: 46px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Log_in.html;
	cursor: pointer;
}
#Group_53 {
	position: absolute;
	width: 566.574px;
	height: 482px;
	left: 906px;
	top: 598px;
	overflow: visible;
}
#Group_41 {
	position: absolute;
	width: 566.574px;
	height: 482px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_93 {
	fill: rgba(242,242,242,1);
}
.Path_93 {
	overflow: visible;
	position: absolute;
	width: 150.879px;
	height: 110.531px;
	left: 210.484px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_94 {
	fill: rgba(255,255,255,1);
}
.Path_94 {
	overflow: visible;
	position: absolute;
	width: 81.284px;
	height: 105.195px;
	left: 256.617px;
	top: 5.335px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_95 {
	fill: rgba(63,61,86,1);
}
.Path_95 {
	overflow: visible;
	position: absolute;
	width: 355.412px;
	height: 200.185px;
	left: 0px;
	top: 108.834px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_96 {
	fill: rgba(255,184,184,1);
}
.Path_96 {
	overflow: visible;
	position: absolute;
	width: 20.946px;
	height: 75.796px;
	left: 441.475px;
	top: 253.634px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_97 {
	fill: rgba(255,184,184,1);
}
.Path_97 {
	overflow: visible;
	position: absolute;
	width: 15.348px;
	height: 40.112px;
	left: 388.701px;
	top: 431.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_98 {
	fill: rgba(47,46,65,1);
}
.Path_98 {
	overflow: visible;
	position: absolute;
	width: 32.684px;
	height: 12.628px;
	left: 373.592px;
	top: 469.013px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_99 {
	fill: rgba(255,184,184,1);
}
.Path_99 {
	overflow: visible;
	position: absolute;
	width: 15.348px;
	height: 40.112px;
	left: 462.498px;
	top: 431.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_100 {
	fill: rgba(47,46,65,1);
}
.Path_100 {
	overflow: visible;
	position: absolute;
	width: 32.684px;
	height: 12.628px;
	left: 447.389px;
	top: 469.013px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_101 {
	fill: rgba(47,46,65,1);
}
.Path_101 {
	overflow: visible;
	position: absolute;
	width: 97.348px;
	height: 172.42px;
	left: 385.261px;
	top: 274.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_24 {
	fill: rgba(255,184,184,1);
}
.Ellipse_24 {
	position: absolute;
	overflow: visible;
	width: 41.667px;
	height: 41.667px;
	left: 422.53px;
	top: 170.604px;
}
#Path_102 {
	fill: rgba(108,99,255,1);
}
.Path_102 {
	overflow: visible;
	position: absolute;
	width: 57.331px;
	height: 66.688px;
	left: 407.426px;
	top: 219.996px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_103 {
	fill: rgba(108,99,255,1);
}
.Path_103 {
	overflow: visible;
	position: absolute;
	width: 22.054px;
	height: 39.867px;
	left: 441.126px;
	top: 224.693px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_104 {
	fill: rgba(255,184,184,1);
}
.Path_104 {
	overflow: visible;
	position: absolute;
	width: 78.643px;
	height: 27.454px;
	left: 345.988px;
	top: 247.61px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_105 {
	fill: rgba(108,99,255,1);
}
.Path_105 {
	overflow: visible;
	position: absolute;
	width: 35.461px;
	height: 39.283px;
	left: 404.998px;
	top: 223.874px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_106 {
	fill: rgba(47,46,65,1);
}
.Path_106 {
	overflow: visible;
	position: absolute;
	width: 148.523px;
	height: 157.222px;
	left: 418.051px;
	top: 159.166px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_107 {
	fill: rgba(63,61,86,1);
}
.Path_107 {
	overflow: visible;
	position: absolute;
	width: 195.095px;
	height: 1.697px;
	left: 328.081px;
	top: 480.303px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_108 {
	fill: rgba(63,61,86,1);
}
.Path_108 {
	overflow: visible;
	position: absolute;
	width: 348.587px;
	height: 95.468px;
	left: 4.397px;
	top: 113.387px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_109 {
	fill: rgba(63,61,86,1);
}
.Path_109 {
	overflow: visible;
	position: absolute;
	width: 37.323px;
	height: 13.572px;
	left: 23.383px;
	top: 253.035px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_110 {
	fill: rgba(63,61,86,1);
}
.Path_110 {
	overflow: visible;
	position: absolute;
	width: 65.314px;
	height: 13.572px;
	left: 23.383px;
	top: 275.937px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_25 {
	fill: rgba(108,99,255,1);
}
.Ellipse_25 {
	position: absolute;
	overflow: visible;
	width: 54.287px;
	height: 54.287px;
	left: 150.142px;
	top: 181.783px;
}
#bp-batam-logo-3352E5183A-seekl {
	position: absolute;
	width: 93px;
	height: 93px;
	left: 134px;
	top: 167px;
	overflow: visible;
}
