.masuk {
  size: 100;
  position: relative;
  left: 5px;
}

#hurup{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    position: absolute;
    bottom: 159px;
}

#hurup2{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    position: absolute;
}



.mediaViewInfo {
		--web-view-name: Log in;
		--web-view-id: Log_in;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Log_in;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Log_in {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Log in;
		--web-view-id: Log_in;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {

		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}

	}
	#df5aaf18128440609462c274ecc31b {
		display: none;
		position: absolute;
		width: 561px;
		height: 1183px;
		left: 1346px;
		top: -30px;
		overflow: visible;
	}
	#Rectangle_4 {
		fill: rgba(255,240,168,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_4 {
		filter: drop-shadow(0px 5px 10px rgba(38, 38, 38, 1));
		position: absolute;
		overflow: visible;
		width: 789px;
		height: 996px;
		left: 581px;
		top: 57px;
	}
	#Rectangle_5 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 503px;
		height: 87px;
		left: 701px;
		top: 278px;
	}
	#Rectangle_6 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_6 {
		position: absolute;
		overflow: visible;
		width: 503px;
		height: 87px;
		left: 706px;
		top: 412px;
	}
	#Username {
		left: 730px;
		top: 227px;
		position: absolute;
		overflow: visible;
		width: 90px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Password_ {
		left: 730px;
		top: 367px;
		position: absolute;
		overflow: visible;
		width: 89px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_75 {
		position: absolute;
		width: 104px;
		height: 51px;
		left: 909px;
		top: 520px;
		overflow: visible;
	}
	#Group_7 {
		position: absolute;
		width: 104px;
		height: 51px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_8 {
		fill: rgba(32,87,116,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 104px;
		height: 51px;
		left: 0px;
		top: 0px;
	}

	#Log_in_w {
		left: 187px;
		top: 128px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Menu___profile.html;
		cursor: pointer;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
        background-color: rgba(0,0,0,0);
        padding: 6px;
	}

    #Log_in_w:hover {
		color: black;
	}


	#Group_37 {
		position: absolute;
		width: 178px;
		height: 27px;
		left: 884px;
		top: 627px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Forgot_Password.html;
		cursor: pointer;
	}


	#Forgot_Password__ {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#forgot {
		position: absolute;
		width: 21px;
		height: 20px;
		left: 157px;
		top: 5px;
		overflow: visible;
	}
	#Group_36 {
		position: absolute;
		width: 98px;
		height: 28px;
		left: 927px;
		top: 589px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Sign_up_account.html;
		cursor: pointer;
	}
	#Sign_up_ {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#sign_up {
		position: absolute;
		width: 21px;
		height: 20px;
		left: 77px;
		top: 8px;
		overflow: visible;
	}
	#bp-batam-logo-3352E5183A-seekl {
		position: absolute;
		width: 93px;
		height: 93px;
		left: 906px;
		top: 86px;
		overflow: visible;
	}
	#Login_Account {
		left: 50px;
		top: 187px;
		position: absolute;
		overflow: visible;
		width: 204px;
		white-space: nowrap;
		text-align: left;
		font-family: Leelawadee UI;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#back {
		filter: drop-shadow(0px 3px 6px rgba(48, 47, 45, 0.91));
		position: absolute;
		width: 73px;
		height: 61px;
		left: 65px;
		top: 46px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Menu_fix.html;
		cursor: pointer;
	}
	#Group_45 {
		position: absolute;
		width: 564.862px;
		height: 337.683px;
		left: 691px;
		top: 677.538px;
		overflow: visible;
	}
	#Path_167 {
		fill: rgba(242,242,242,1);
	}
	.Path_167 {
		overflow: visible;
		position: absolute;
		width: 143.045px;
		height: 111.904px;
		left: 421.816px;
		top: 225.779px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_168 {
		fill: rgba(255,255,255,1);
	}
	.Path_168 {
		overflow: visible;
		position: absolute;
		width: 78.411px;
		height: 104.484px;
		left: 464.208px;
		top: 230.832px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_169 {
		fill: rgba(242,242,242,1);
	}
	.Path_169 {
		overflow: visible;
		position: absolute;
		width: 196.473px;
		height: 153.735px;
		left: 0px;
		top: 183.74px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_170 {
		fill: rgba(255,255,255,1);
	}
	.Path_170 {
		overflow: visible;
		position: absolute;
		width: 107.699px;
		height: 143.508px;
		left: 30.551px;
		top: 190.68px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_171 {
		fill: rgba(242,242,242,1);
	}
	.Path_171 {
		overflow: visible;
		position: absolute;
		width: 236.983px;
		height: 336.969px;
		left: 168.485px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_172 {
		fill: rgba(204,204,204,1);
	}
	.Path_172 {
		overflow: visible;
		position: absolute;
		width: 187.639px;
		height: 336.967px;
		left: 168.485px;
		top: 0.003px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_31 {
		fill: rgba(108,99,255,1);
	}
	.Ellipse_31 {
		position: absolute;
		overflow: visible;
		width: 20.777px;
		height: 20.777px;
		left: 330.477px;
		top: 207.441px;
	}
	#Path_173 {
		fill: rgba(255,184,184,1);
	}
	.Path_173 {
		overflow: visible;
		position: absolute;
		width: 11.749px;
		height: 30.703px;
		left: 374.306px;
		top: 298.984px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_174 {
		fill: rgba(47,46,65,1);
	}
	.Path_174 {
		overflow: visible;
		position: absolute;
		width: 25.017px;
		height: 9.666px;
		left: 362.742px;
		top: 327.412px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_175 {
		fill: rgba(255,184,184,1);
	}
	.Path_175 {
		overflow: visible;
		position: absolute;
		width: 11.749px;
		height: 30.703px;
		left: 413.912px;
		top: 298.984px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_176 {
		fill: rgba(47,46,65,1);
	}
	.Path_176 {
		overflow: visible;
		position: absolute;
		width: 25.017px;
		height: 9.666px;
		left: 402.348px;
		top: 327.412px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_177 {
		fill: rgba(255,184,184,1);
	}
	.Path_177 {
		overflow: visible;
		position: absolute;
		width: 44.505px;
		height: 87.979px;
		left: 344.919px;
		top: 135.021px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_178 {
		fill: rgba(255,184,184,1);
	}
	.Path_178 {
		overflow: visible;
		position: absolute;
		width: 20.801px;
		height: 90.373px;
		left: 411.332px;
		top: 144.479px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_32 {
		fill: rgba(255,184,184,1);
	}
	.Ellipse_32 {
		position: absolute;
		overflow: visible;
		width: 31.893px;
		height: 31.893px;
		left: 381.474px;
		top: 89.314px;
	}
	#Path_179 {
		fill: rgba(108,99,255,1);
	}
	.Path_179 {
		overflow: visible;
		position: absolute;
		width: 53.102px;
		height: 88.868px;
		left: 373.415px;
		top: 127.09px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_180 {
		fill: rgba(108,99,255,1);
	}
	.Path_180 {
		overflow: visible;
		position: absolute;
		width: 28.035px;
		height: 35.252px;
		left: 361.004px;
		top: 132.421px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_181 {
		fill: rgba(108,99,255,1);
	}
	.Path_181 {
		overflow: visible;
		position: absolute;
		width: 22.98px;
		height: 41.723px;
		left: 408.89px;
		top: 134.104px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_182 {
		fill: rgba(47,46,65,1);
	}
	.Path_182 {
		overflow: visible;
		position: absolute;
		width: 56.539px;
		height: 107.778px;
		left: 370.825px;
		top: 212.387px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_183 {
		fill: rgba(47,46,65,1);
	}
	.Path_183 {
		overflow: visible;
		position: absolute;
		width: 37.271px;
		height: 37.254px;
		left: 378.274px;
		top: 81.965px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_184 {
		fill: rgba(63,61,86,1);
	}
	.Path_184 {
		overflow: visible;
		position: absolute;
		width: 480.896px;
		height: 1.546px;
		left: 65.249px;
		top: 335.841px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_185 {
		fill: rgba(255,255,255,1);
	}
	.Path_185 {
		overflow: visible;
		position: absolute;
		width: 92.845px;
		height: 196.728px;
		left: 215.881px;
		top: 69.796px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_27 {
		fill: rgba(204,204,204,1);
	}
	.Rectangle_27 {
		position: absolute;
		overflow: visible;
		width: 92.845px;
		height: 1.299px;
		left: 215.881px;
		top: 130.756px;
	}
	#Rectangle_28 {
		fill: rgba(204,204,204,1);
	}
	.Rectangle_28 {
		position: absolute;
		overflow: visible;
		width: 92.845px;
		height: 1.299px;
		left: 216.206px;
		top: 204.844px;
	}
	#Rectangle_29 {
		fill: rgba(204,204,204,1);
	}
	.Rectangle_29 {
		position: absolute;
		overflow: visible;
		width: 1.299px;
		height: 197.377px;
		left: 245.098px;
		top: 69.796px;
	}
	#Rectangle_30 {
		fill: rgba(204,204,204,1);
	}
	.Rectangle_30 {
		position: absolute;
		overflow: visible;
		width: 1.299px;
		height: 197.377px;
		left: 277.562px;
		top: 69.796px;
	}


